{% if app.session.flashBag.has('error') %}
    <div class="alert alert-danger">
        <a href="#" class="close" aria-label="close">&times;</a>
        {% for msg in app.session.flashBag.get('error') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}