{% extends "::front_layout.html.twig" %}
{% block content %}
    <!-- ====== Features Section ====== -->
    <section id="features">
        <div class="features section-padding">
            <div class="container">

                <div class="header">
                    <h1>Amazing Features</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nesciunt eos, ipsum id, architecto
                        velit sequi fuga minima commodi, porro vitae officiis, voluptatibus minus voluptates ab. Dolore,
                        dolor repellat quasi.</p>
                    <div class="underline">
                        <i class="fa fa-briefcase"></i>
                    </div>
                </div> <!-- end .container> .header -->

                <div class="row">
                    <div class="col-md-4">
                        <div class="featured-item-img">
                            <img src="{{ asset('assets/front/images/phone.png') }}" alt="">
                        </div>
                    </div>
                    <div class="col-md-8 feature-list">
                        <div class="row">

                            <div class="col-sm-6 col-md-6">
                                <div class="featured-item">
                                    <div class="icon">
                                        <div class="icon-style"><i class="fa fa-desktop"></i></div>
                                    </div> <!-- end icon -->
                                    <div class="meta-text">
                                        <h3>Responsive Design</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, culpa.</p>
                                    </div> <!-- end .meta-text -->
                                </div> <!-- end .featured-item -->
                            </div> <!-- end .feature-list> .row > .col-md-6 (1st item) -->

                            <div class="col-sm-6 col-md-6">
                                <div class="featured-item">
                                    <div class="icon">
                                        <div class="icon-style"><i class="fa fa-send"></i></div>
                                    </div> <!-- end icon -->
                                    <div class="meta-text">
                                        <h3>Cross Browser Compatible</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, culpa.</p>
                                    </div> <!-- end .meta-text -->
                                </div> <!-- end .featured-item -->
                            </div> <!-- end .feature-list> .row > .col-md-6 (2nd item) -->

                            <div class="col-sm-6 col-md-6">
                                <div class="featured-item">
                                    <div class="icon">
                                        <div class="icon-style"><i class="fa fa-gears"></i></div>
                                    </div> <!-- end icon -->
                                    <div class="meta-text">
                                        <h3>Fast Loading</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, culpa.</p>
                                    </div> <!-- end .meta-text -->
                                </div> <!-- end .featured-item -->
                            </div> <!-- end .feature-list> .row > .col-md-6 (3rd item) -->

                            <div class="col-sm-6 col-md-6">
                                <div class="featured-item">
                                    <div class="icon">
                                        <div class="icon-style"><i class="fa fa-search"></i></div>
                                    </div> <!-- end icon -->
                                    <div class="meta-text">
                                        <h3>Easily Customize</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, culpa.</p>
                                    </div> <!-- end .meta-text -->
                                </div> <!-- end .featured-item -->
                            </div> <!-- end .feature-list> .row > .col-md-6 (4th item) -->

                            <div class="col-sm-6 col-md-6">
                                <div class="featured-item">
                                    <div class="icon">
                                        <div class="icon-style"><i class="fa fa-file"></i></div>
                                    </div> <!-- end icon -->
                                    <div class="meta-text">
                                        <h3>Trendy Design</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, culpa.</p>
                                    </div> <!-- end .meta-text -->
                                </div> <!-- end .featured-item -->
                            </div> <!-- end .feature-list> .row > .col-md-6 (5th item) -->

                            <div class="col-sm-6 col-md-6">
                                <div class="featured-item">
                                    <div class="icon">
                                        <div class="icon-style"><i class="fa fa-mobile-phone"></i></div>
                                    </div> <!-- end icon -->
                                    <div class="meta-text">
                                        <h3>Excellent Support</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, culpa.</p>
                                    </div> <!-- end .meta-text -->
                                </div> <!-- end .featured-item -->
                            </div> <!-- end .feature-list> .row > .col-md-6 (6th item) -->

                        </div> <!-- end .feature-list> .row -->
                    </div> <!-- end .feature-list -->
                </div> <!-- end .container> .row -->

            </div> <!-- end .container -->
        </div> <!-- end .features -->
    </section>
    <!-- ====== End Features Section ====== -->
{% endblock %}